<h1>Listing Weapons</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Weight</th>
      <th>Dimention</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
        <td><%= weapon.tipe %></td>
        <td><%= truncate(weapon.description, length: 50) %></td>
        <td><%= weapon.weight %></td>
        <td><%= weapon.dimention %></td>
        <td  colspan="3">
          <%= link_to 'Show', weapon %> &nbsp; | &nbsp;
          <%= link_to 'Edit', edit_weapon_path(weapon) %>&nbsp; | &nbsp;
          <%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weapon', new_weapon_path %>
