<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @weapon.tipe %>
</p>

<p>
  <strong>Description:</strong>
  <%= @weapon.description %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @weapon.weight %>
</p>

<p>
  <strong>Dimention:</strong>
  <%= @weapon.dimention %>
</p>

<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
