<%= stylesheet_link_tag 'customs/index_dashboard' %>
<h2>Halaman index dashboards</h2>

<%= link_to "Index", root_path %>
<%= link_to "Dashboards", dashboards_path %>
<%= link_to "Profile", dashboards_profile_path %>
<%= link_to "Contact", dashboards_contact_path %>

<%= javascript_include_tag 'custom/index_dashboard' %>